{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Onlyflans Log out
{% endblock %}

{% block content %}
<div class="container px-3">
    <div class="shadow mx-auto text-center pb-5 my-5">
        <div class="h1 bg-info py-4">
            Log Out Exitoso
        </div>
        <div class="fs-2 pt-5 pb-4">
            Gracias por visitar OnlyFlans, vuelve pronto
        </div>
        <div class="pt-4 pb-2">
            <a class="btn btn-info fw-bold" href="{% url 'index' %}">Volver al Inicio</a>
        </div>
    </div>
</div>
{% endblock %}