{% extends 'base/base.html'%}

{% block title %}
    Onlyflans Login
{% endblock %}

{% block content %}
    <div class="container py-5 my-5 text-center">
        <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 shadow mx-auto pb-5">
            <h1 class="bg-info py-3">Log In</h1>
            <form method="post">
                {% csrf_token %}
                <div class="text-danger fw-bold">
                    {{ form.non_field_errors }}
                </div>
                <div class="pt-3">
                    <p>{{ form.username.errors }}</p>
                    <p class="fw-bold">{{ form.username.label_tag }}</p>
                    {{ form.username }}
                </div>
                <div class="pt-3 pb-5">
                    <p>{{ form.password.errors }}</p>
                    <p class="fw-bold">{{ form.password.label_tag }}</p>
                    {{ form.password }}
                </div>
                <input type="submit" class="btn btn-info fw-bold" value="Log In" style="width: 30%;">
                <div class="pt-5 ">
                    <a class = "btn btn-secondary fw-bold" href="{% url 'sign_up' %}">Registrarse en Onlyflans</a>    
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}