{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Registro Exitoso
{% endblock %}

{% block content %}
<div class="container px-3">
    <div class="shadow mx-auto text-center pb-5 my-5">
        <div class="h1 bg-info py-4">
            Registro Exitoso
        </div>
        <div class="fs-2 pt-5 pb-4">
            Has sido registrado exitosamente como cliente de OnlyFlans, felicitaciones!!
        </div>
        <div class="pt-4 pb-2">
            <a class="btn btn-info fw-bold" href="{% url 'login' %}">Iniciar Sesion</a>
        </div>
    </div>
</div>
{% endblock %}